[Desktop Entry]
Type=Application
Version=1.0
Name=安装 Arch Linux
Name[en]=Install Arch Linux
GenericName=系统安装程序
Comment=开始安装 ARCH_SHORIN 定制系统
Comment[en]=Start installing the ARCH_SHORIN edition
Exec=/usr/local/bin/launch-installer.sh
Icon=drive-harddisk
Terminal=false
Categories=System;
Keywords=install;arch;shorin;安装;
StartupNotify=true
